<!DOCTYPE html>
<html>
<head>
  <title>{%block title%}Base Page{%endblock%}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
<div>
  <header>
    <h1><a href="{%url 'home'%}">Cine<span class="logo_colour">Library</span></a></h1>
<h2>Greatest cine library.</h2>
  </header>
    <nav>
      <list {% block h1%}class="#"{%endblock%}><a href="{%url 'home'%}">Home</a></list>
      <list {% block h2%}class="#"{%endblock%}><a href="{%url 'create'%}">Add_Book</a></list>
      <list {% block h3%}class="#"{%endblock%}><a href="{%url 'retrieve'%}">Read_Book</a></list>
      <list {% block h4%}class="#"{%endblock%}><a href="{%url 'search'%}">Search_Book</a></list>
      <list {% block h5%}class="#"{%endblock%}><a href="{%url 'delete'%}">Delete_Book</a></list>
      <list {% block h6%}class="#"{%endblock%}><a href="{%url 'updateb'%}">Update_Book</a></list>
    </nav>

    <section>
      <article>
        {%block content%}
          welcome to base page
        {%endblock%}
      </article>
    </section>
    <hr>
    <footer>
      <h2>Cinelibrary | Where magic begins</h2>
    </footer>
</div>
</body>
</html>
